
#reminder{
    width: 100%;
    position: absolute;
    height: 200px;
    top: 10px;
    left: 50px;
    position: relative;
}

#table{
    position: absolute;
    left: 30px;
    top: 35px;
    border: 1px solid black;
    box-shadow: 1px 2px 5px black;
}

#table tr th{
    border-bottom: 1px solid black;
    font-size: 20px;
    background: rgb(236, 170, 70);
}

#table tr td{
    padding: 5px;
    border-right: 2px solid black;
    background: rgb(117, 196, 233);
}
#table td:last-child{
    border-right: none;
}


